manifest {
    name            = 'negedia/digitalrnaseq'
    author          = """Giuseppe Martone, Chiara Colantuono"""
    homePage        = 'https://github.com/NEGEDIA'
    description     = """to complete"""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0'
}

//workDir = 'gs://ngdx-scratch-west1/digitalrnaseq'

process {
    withLabel:process_low { 
        machineType = 'e2-standard-2' 
        }
    withLabel:error_ignore { 
        errorStrategy = 'ignore'
        }
    withLabel:error_retry { 
        errorStrategy = 'retry'
        maxRetries = 2
        }
}