params {
    genomes {
        'hg38cr' {
            gtf = "gs://ngdx-runs/references/index/STAR_2.7.2a/hg38cr/r110/genes/genes.gtf.gz"
            star_index = "gs://ngdx-runs/references/index/STAR_2.7.2a/hg38cr/r110/star"
        }
        'mm10cr' {
            gtf = "gs://ngdx-runs/references/index/STAR_2.7.2a/mm10cr/r110/genes/genes.gtf.gz"
            star_index = "gs://ngdx-runs/references/index/STAR_2.7.2a/hg38cr/r110/star"
        }
        'hybrid' {
            gtf = "gs://ngdx-runs/references/index/STAR_2.7.2a/hybrid/r110/genes/genes.gtf.gz"
            star_index = "gs://ngdx-runs/references/index/STAR_2.7.2a/hybrid/r110/star"
        }
    }
}