params {
    single_end      = true
}

/*
//fastp
params {
    qualified_quality_phred = 10
    length_required = 20
    adapter_fasta = "gs://ngdx-runs/Analysis/DigitalRNAseq/adapter_fasta.fa"
    thread = 4
}
*/

// bbduk
params {

    adapter_fasta = "gs://ngdx-runs/Analysis/DigitalRNAseq/adapter_fasta.fa"
    bbduk_k             = 13
    bbduk_ktrim         = "r"
    bbduk_useshortkmers = "t"
    bbduk_mink          = 5
    bbduk_qtrim         = "r"
    bbduk_trimq         = 10
    bbduk_minlength     = 20
    bbduk_overwrite     = "true"

}

// contamination

params {
    hybrid_gtf              = "gs://ngdx-runs/references/index/STAR_2.7.2a/hybrid/r110/genes/genes.gtf.gz"
    star_hybrid_index       = "gs://ngdx-runs/references/index/STAR_2.7.2a/hybrid/r110/star" 
}

params {
    krakendb                = "gs://ngdx-runs/references/minikraken2_v2_8GB_201904_UPDATE"
    kraken_minhit           = 50
}

// multiqc

params {
    multiqc_config          = "gs://ngdx-runs/references/digital/multiqc_config.yaml"
    combine_matrices        = "gs://ngdx-runs/references/digital/combine_matrices.R"
}

// workflow main

params {
    genome                     = null
    validate_params            = false
    help                       = false
    version                    = false
    monochrome_logs            = false
    genomes                    = true
}



//skip
params {
    skip_fastqc     = false
    skip_multiqc    = false
    skip_trimming   = false
    skip_alignment  = false
    skip_featurecounts  = false
}
