// workflow main

params {
    genome                     = null
    validate_params            = false
    help                       = false
    version                    = false
    monochrome_logs            = false
    genomes                    = true
}

// bcl2fastq

params {

    bcl_output_dir = "Reads"
    bcl_disk = 1000
    bcl_lane_splitting = true
    bcl_mask = "Y101,I12,I12"
    outdir = "$params.rundir"
    
}