// workflow main

params {
    genome                     = null
    validate_params            = false
    help                       = false
    version                    = false
    monochrome_logs            = false
    genomes                    = true
}

// bcl2fastq

params {
    
    b2f_run_folder_dir = "NULL"
    b2f_output_dir = "Reads"
    b2f_sample_sheet = "NULL"
    b2f_min_trimmed_read_length = 0
    b2f_mark_short_adapter_reads = 0
    b2f_report_dir = "Reports"
    b2f_interop_dir = "InterOp"
    b2f_stats_dir = "Stats"
    b2f_disk = 1000
    b2f_mem = 100
    b2f_threads = 31
    b2f_no_lane_splitting = true
    b2f_try_miss_bcl = false
    b2f_mask = "Y101n50,I6n2,I6n2,n151"
    outdir = "$params.rundir"    
    sequencer = ""
    use_mask = false

}