profiles {
    docker {
        docker.enabled         = true
        docker.runOptions      = "-u $(id -u):$(id -g)"
        // docker.sudo             = true
    }
    googlebatch {
        process.executor = "google-batch"
        google.project = "ngdx-nextflow"
        google.location = "europe-west1"
        google.batch.bootDiskSize = "10.GB"
    }
    workbench {
        google.zone = "europe-west1-b"
        google.location = "europe-west1"
    }
    wave {
        wave.enabled = true
        wave.strategy = ['container','dockerfile']
        wave.freeze = false
        wave.build.repository = 'europe-west1-docker.pkg.dev/ngdx-nextflow/wave/digital'
        wave.build.cacheRepository = 'europe-west1-docker.pkg.dev/ngdx-nextflow/wave-cache/digital'
    }
    fusion {
        fusion.enabled = true
        process.scratch = false
    }
}